<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="15" />
    <title>RDS Radio Sol 89.1 FM</title>
</head>

<body style="height: 15px; background: #fed000; font-family: Montserrat; font-weight:bold;">

<!-- <body style="height: 15px; background: #fed000; font-family: Montserrat; font-size: 20px;"> -->

    <!-- <p style="color: white">
    {{variable}}
  	</p> -->

  <marquee behavior="scroll" scrollamount="5" direction="left" style="color: black; font-family: Montserrat">{{variable}}</marquee>

</body>
